<section class="card">
    <div class="card-content">
      <div class="dayviewsecond">
      <a class="dayvieweventid" data-value='{{id}}' href="/dayview/{{id}}">
        <header>{{name}}</header>
        </a>
        </div>
    </div> 
</section>