<section class="card">
    <div class="card-content">
      <div class="dayviewsecond">
      <a class="dayvieweventid" data-value='{{id}}' href="/dayview/{{id}}">
        <div class="card-header">
         <p class="title"> {{name}}</p>
          </div>
        <p>{{date}}</p>
        </a>
        </div>
    </div> 
</section>