<nav class="navbar is-dark is-size-2" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/weekview">
      <h1>Calendae</h1>
    </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="columns">
        <div class="column">
          <div class="buttons">
            <a class="button is-link is-small" id="add-event">
              <i class="fas fa-plus"></i>
              <strong id="add-event-txt">Add Event</strong>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="buttons">
            <a class="button is-primary is-small" id="logout">
              <strong>Logout</strong>
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</nav>