<h2>Welcome to Calendae</h2>
<div class="container"> A simple social media for planning events smarter</div>

<div class="control">
  <label class="radio" id="signinradio">
    <input type="radio" name="foobar">
    Sign In
  </label>
  <label class="radio" id="signupradio">
    <input type="radio" name="foobar" checked>
    Sign Up
  </label>
</div>
<div class="field">
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" id = "firstname-signup" type="text" placeholder="First Name" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>

<div class="field">
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" id = "lastname-signup" type="text" placeholder="Last Name" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>

<div class="field">
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" id = "email-signup" type="text" placeholder="Email Address" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>

<div class="field">
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" id = "username-signup" type="text" placeholder="Username" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>

<div class="field">
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" id = "password-signup"type="text" placeholder="Password" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
<div class="field">
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" id = "confirmPassword-signup" type="text" placeholder="Confirm password" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" type="submit" id="submitsignup">Submit</button>
  </div>
</div>



<div class="field">
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="text" placeholder="Username" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>

<div class="field">
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="text" placeholder="Password" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>


<div class="field is-grouped">
  <div class="control" >
    <button class="button is-link" type="submit" id="submitsignin">Submit</button>
  </div>
</div>



<script src="./js/login.js"></script>