<section class="hero is-dark is-fullheight is-fullwidth">
  <div class="hero-body">
<div class="container has-text-centered"> 
<h1 class="block is-size-1" style="font-family: 'Martel', serif;">Welcome to Calendae</h1>
<div class="block is-size-6">
  A simple social media for planning events smarter
</div>
{{!-- <div class="control"> --}}
  <div class="block">
  <label class="radio">
    <input type="radio" name="foobar" id="loginradio" checked>
    Log In
  </label>
  <label class="radio">
    <input type="radio" name="foobar" id="signupradio">
    Sign Up
  </label>
</div>
{{!-- </div> --}}
<div class="signupsection" style="display: none;">
  <div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">


  <div class="field">
    <div class="control">
      <input class="input is-success" id = "firstname-signup" type="text" placeholder="First Name" value="">
    </div>
  </div>


  <div class="field">
    <div class="control">
      <input class="input is-success" id = "lastname-signup" type="text" placeholder="Last Name" value="">
    </div>
  </div>


  <div class="field">
    <div class="control">
      <input class="input is-success" id = "email-signup" type="text" placeholder="Email Address" value="">
    </div>
  </div>


  <div class="field">
    <div class="control">
      <input class="input is-success" id = "username-signup" type="text" placeholder="Username" value="">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input class="input is-success" id = "password-signup" type="password" placeholder="Password" value="">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input class="input is-success" id = "confirmPassword-signup" type="password" placeholder="Confirm password" value="">
    </div>
  </div>

 </div>
</div>

   <div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">

  <div class="buttons" >
    <button class="button is-link is-fullwidth is-medium" type="submit" id="submitsignup">Sign Up</button>
  </div>
</div>
</div>
</div>
<div class="loginsection" style="display: block;">
   <div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
<div class="field">
  <div class="control">
    <input class="input is-success" type="text" placeholder="Username" value="" id="username-login">
  </div>
</div>


<div class="field">
  <div class="control">
    <input class="input is-success" type="password" placeholder="Password" value="" id="password-login">
  </div>
</div>



</div>
</div>
  <div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">

  <div class="buttons" >
    <button class="button is-link is-fullwidth is-medium" type="submit" id="submitlogin">Log In</button>
  </div>
</div>
</div>
</div>
</div>
</div>
</section>

<script src="./js/login.js"></script>