/* Styling changes */
.card-header { 
  margin-top: 2%;
}

#add-event-txt {
  margin-left: 0.5rem;
}

th {
  width: 150px;
}

td {
  height: 100px;
  text-align: left;
}

/* Bulma fixes */

.table td.is-success, .table th.is-success {
  background-color: #f5f5f5;
  border-color: #48c78e;
  color: rgba(0,0,0,.7);
}
.hero.is-dark .title {
  color: #353839;
}
@media screen and (min-width: 350px) {
  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }
}
@media screen and (min-width: 350px) {
  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }
}
@media screen and (min-width: 350px) {
  .navbar, .navbar-end, .navbar-menu, .navbar-start {
    align-items: stretch;
    display: flex;
  }
}